Repository fennar01/SentinelHunter, changes with the owners that CODEOWNERS names for each.
All owners: @core-team, @frontend, @sensor-fusion, @devops

CODEOWNERS:

# CODEOWNERS
/src/flight/ @core-team
/src/gui/ @frontend
/src/detection/ @sensor-fusion
/sim/ @devops
/tests/ @devops
/docs/ @devops

feat(flight): Implement minimal quaternion PID stub in AttitudeController.cpp (Closes FlightCore-1)
  CHANGELOG.md
  ROADMAP.md
  src/flight/AttitudeController.cpp
Owners: @core-team

feat(flight): Implement minimal quaternion PID stub in AttitudeController.cpp (Closes FlightCore-1)
  CHANGELOG.md
  ROADMAP.md
  src/flight/AttitudeController.cpp
Owners: @core-team

feat(detection): Prototype Doppler solver in rf_locator.py (Closes DetectionStack-1)
  CHANGELOG.md
  ROADMAP.md
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(detection): Prototype Doppler solver in rf_locator.py (Closes DetectionStack-1)
  CHANGELOG.md
  ROADMAP.md
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(gui): Build CesiumJS demo in OrbitView.jsx (Closes GUI-1)
  CHANGELOG.md
  ROADMAP.md
  src/gui/ui/OrbitView.jsx
Owners: @frontend

feat(gui): Build CesiumJS demo in OrbitView.jsx (Closes GUI-1)
  CHANGELOG.md
  ROADMAP.md
  src/gui/ui/OrbitView.jsx
Owners: @frontend

docs: Update README and quickstart to reflect completed roadmap and next steps
  README.md
  docs/quickstart.md
Owners: @devops

docs: Update README and quickstart to reflect completed roadmap and next steps
  README.md
  docs/quickstart.md
Owners: @devops

feat: Add working SGP4 propagator, demo satellite data, CesiumJS plotting, and minimal test
  src/detection/OrbitPropagator.py
  src/gui/data/demo_satellites.json
  src/gui/ui/OrbitView.jsx
  tests/test_dummy.py
Owners: @sensor-fusion, @frontend, @devops

feat: Add working SGP4 propagator, demo satellite data, CesiumJS plotting, and minimal test
  src/detection/OrbitPropagator.py
  src/gui/data/demo_satellites.json
  src/gui/ui/OrbitView.jsx
  tests/test_dummy.py
Owners: @sensor-fusion, @frontend, @devops

feat(flight): Output simulated telemetry for ground tools
  src/flight/AttitudeController.cpp
Owners: @core-team

feat(flight): Output simulated telemetry for ground tools
  src/flight/AttitudeController.cpp
Owners: @core-team

feat(detection): Simulate RF signals and noise for TDOA/Doppler
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(detection): Simulate RF signals and noise for TDOA/Doppler
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(mesh): Add Node abstraction and mesh simulation with ZeroMQ
  ROADMAP.md
  src/mesh/node.py
Owners: none

feat(mesh): Add Node abstraction and mesh simulation with ZeroMQ
  ROADMAP.md
  src/mesh/node.py
Owners: none

docs: Update README, quickstart, and roadmap for mesh architecture and simulation
  README.md
  docs/quickstart.md
Owners: @devops

docs: Update README, quickstart, and roadmap for mesh architecture and simulation
  README.md
  docs/quickstart.md
Owners: @devops

feat(mesh): Add aggregator for mesh node and detection event visualization in GUI
  src/mesh/aggregator.py
Owners: none

feat(mesh): Add aggregator for mesh node and detection event visualization in GUI
  src/mesh/aggregator.py
Owners: none

docs: Update quickstart for mesh aggregator and fusion events
  docs/quickstart.md
Owners: @devops

docs: Update quickstart for mesh aggregator and fusion events
  docs/quickstart.md
Owners: @devops

feat(detection): Add multi-satellite/source support to detection stack
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(detection): Add multi-satellite/source support to detection stack
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(detection): Add optical detection pipeline (stub/sim)
  src/detection/optical_detector.py
Owners: @sensor-fusion

feat(detection): Add optical detection pipeline (stub/sim)
  src/detection/optical_detector.py
Owners: @sensor-fusion

feat(detection): Log detection results to file for later analysis
  src/detection/rf_locator.py
Owners: @sensor-fusion

feat(detection): Log detection results to file for later analysis
  src/detection/rf_locator.py
Owners: @sensor-fusion

docs: Use externally hosted UI mockup images in README
  README.md
Owners: none

docs: Use externally hosted UI mockup images in README
  README.md
Owners: none

docs: Make documentation current and present UI as actual interface
  src/gui/ui/components/DetectionTimeline.jsx
  src/gui/ui/components/EventDetailModal.jsx
  src/gui/ui/components/SatelliteDataPanel.jsx
  src/gui/ui/components/Sidebar.jsx
Owners: @frontend

docs: Make documentation current and present UI as actual interface
  src/gui/ui/components/DetectionTimeline.jsx
  src/gui/ui/components/EventDetailModal.jsx
  src/gui/ui/components/SatelliteDataPanel.jsx
  src/gui/ui/components/Sidebar.jsx
Owners: @frontend
